@media (max-width: 400px) {
    .filter{
        &__item{
            display: flex;
            align-items: center;
            flex: 1 1 30%;
            padding: 14px;
            background: url("../icns/filter.svg") no-repeat center left 17px;
            &:first-child{
                flex: 1 1 70%;
                background: url("../icns/popular-icon.svg") no-repeat center left ;
                justify-content: space-between;
                position: relative;
                &::after{
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    background-color: rgba($color: #000000, $alpha: .2);
                    display: flex;
                }
                p{
                    padding-left: 25px;
                }
            }
            p{
                padding-left: 30px;
                line-height: $line24;
            }
        }
    }
}