// Цвета
$blue: #0049FF;
$light-blue: #00AAFF;
$purple: #2B00C9;
$white: #ffffff;
$black: #333333;
$red: #FF2045;
$gray: #F4F4F6;
$link-gray: #737782;
$btns-gray: #7D828C;
$after-line: #E5E5E5;
$green: #22D263;
$yellow: #FFC700;
$text-black: #383B42;
$card-white: #FCFCFC;
$bonus-purple: #5F33B0;
$bonus-yellow: #FFCD40;
$categories-gray:  #E0E0E5;
$article-black: #26272C;
$footer-black: #3D3D4B;
$footer-gray: #9CA0AB;
$input-white: #F8F8F8;
$count-green: #149E47;
$count-orange: #F09000;
$count-red: #EA0027;
$payment-orange: #ED5345;
// Шрифты
$monts : "Montserrat";
$inter : "Inter";
// Жирность шрифтов

$weight800: 800;
$weight700: 700;
$weight600: 600;
$weight500: 500;
$weight400: 400;

// Размер шрифта
$font8: 8px;
$font10: 10px;
$font12: 12px;
$font13: 13px;
$font14: 14px;
$font16: 16px;
$font17: 17px;
$font18: 18px;
$font20: 20px;
$font24: 24px;
$font28: 28px;
$font32: 32px;

// Высоты строк
$line10: 10px;
$line12: 12px;
$line14: 14px;
$line16: 16px;
$line17: 17px;
$line18: 18px;
$line20: 20px;
$line22: 22px;
$line24: 24px;
$line28: 28px;
$line30: 30px;
$line32: 32px;
$line40: 40px;